:root{
    --black : #333;
    --white: #fff;
}

.dark{
    --black : #fff;
    --white: #333;
    transition: 0.5s;
}

header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 7;
    transition: 0.5s;
}

header .logo{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.rightSide{
    display: flex;
    transition: 0.5s;
    z-index: 7;
    transition: 0.5s;
}

.btns{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.5s;
}

.btns .iconD{
    font-size: 1.5em;
    color: var(--black);
}

.btns .iconD:nth-child(2){
    display: none;
}

.btns.active .iconD:nth-child(2){
    display: block;
}

.btns.active .iconD:nth-child(1){
    display: none;
}

.active{
    transition: 0.5s;
}

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.main video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
}

.dark .mask{
    filter: invert(1);
    mix-blend-mode: multiply;
}

.main h1{
    position: relative;
    z-index: 3;
    font-size: 10vw;
    color: var(--black);
    text-shadow: 0 20px 30px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

.copoyrightText{
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--black);
    transition: 0.5s;
}

@media (max-width: 768px) {
    header{
        padding: 20px;
    }

    .copoyrightText{
        left: 20px;
        bottom: 30px;
    }
}